pandas
dm-sonnet
gdown
tensorflow
tensorflow_probability[tf]
wandb
git+https://github.com/mbr/simplekv.git
boto3
pymongo
dnspython
fancyflags
pyarrow>=17,<18
peppi-py==0.8.2
git+https://github.com/vladfi1/py7zr.git@dev
git+https://github.com/kyhavlov/libmelee.git@doubles
portpicker
ray
discord
trueskill
Flask>=2.0
matplotlib
